.header {
  max-width: 1240px;
  margin: 0 auto;
  padding: 3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .containor {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-containor {
      position: relative;

      .logo {
        background-image: url("../../assets/logo_thegreenwalk.svg");
        background-repeat: no-repeat;
        // background-position: right;
        width: 35vw;
        height: 30%;
      }

      a {
        margin-right: 3rem;
        margin-top: 3rem;
        position: absolute;
        right: 0%;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        padding: 1rem 3rem;
      }
    }

    p {
      font-family: 'Montserrat', sans-serif;
      width: 35vw;
      color: #6E6E6E;
      // margin-bottom: 3rem;
      margin-top: 1rem;
      margin-bottom: 5rem;
      line-height: 2.5;
    }
  }
}

.tagline {
  padding: 3rem 3rem 0 3rem;
  background-color: #106330;

  .text-box {
    max-width: 1240px;
    margin: 0 auto;

    h1 {
      margin-bottom: 3rem;
    }

    p {
      width: 60%;
      font-family: 'Montserrat', sans-serif;
      color: white;
      line-height: 3rem;
      padding-bottom: 1rem;
    }
  }
}


.kotextcontainor {
  background-color: #106330;
  padding-top: 3rem;
  text-transform: uppercase;


  .kotext {
    padding: 3rem 0;
    background-image: url("../../assets/bg_marble.jpg");
    background-size: auto 100vh;
    background-attachment: fixed;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-size: 15vw;
    // font-weight: bold;
    line-height: 0.69;
    text-align: left;
    // vertical-align: bottom;
  }
}

.lower-section {
  background-color: #106330;
  // display: flex;

  .form-containor {
    // height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    padding: 3rem 6rem 3rem 5rem;

    form {
      // width: 60%;
      // position: relative;


      .form-control {
        color: white;
        font-size: 12px;


        &::placeholder {
          color: white;
        }

        margin: 1rem;
        background-color: #106330;
        border-color: #BD9B5D;
        border-radius: 0%;
      }

      
      .registerbtn {
        display: block;
        margin: 1rem auto;

        // margin: 0;
        // position: absolute;
        // top: 75%;
        // left: 50%;
        // -ms-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);

      }


    }

    .checkbox-container {
      // min-width: 30%;
      // padding: 1rem;

      p {
        color: white;
        font-size: 12px;
        // min-width: 40%;
        margin: 22px 0 0 20px;
      }
    }

    .p-container {
      color: white;

      p {
        text-align: center;
        font-size: 10px;
        padding: 1rem 5rem;
      }
    }
  }

  .cert {

    // width: 40%;
    // height: 100%;
    background-image: url("../../assets/bg_marble.jpg");
    background-size: auto 100vh;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #6E6E6E;


    .thegreenwalk-wrapper {
      width: 100%;


      .logo-thegreenwalk {
        display: block;
        margin: 20vh auto;
        width: 70%;
        // margin: 0;
        // position: absolute;
        // top: 30%;
        // left: 50%;
        // transform: translate(-50%, -50%);
      }

      p {
        // display: block;
        text-align: center;
      }
    }

    .developer-wrapper {
      text-align: center;
      margin: 0 auto;
      margin-top: 10rem;
      font-size: 10px;


      img {
        padding: 1rem;
      }

      .logo-manchi {
        margin-top: 1rem;
        margin-left: 1rem;
        width: 70%;
      }

      .logo-hype {
        width: 35%;
      }
    }
  }

}

.modal-dialog {
  max-width:none;
  width: 60%;
  .modal-body {
    border: none;
    background-color: #106330;
    border-radius: 0%;
    color: white;
    padding: 6rem 6rem;
    span{
      position: absolute;
      top: 30px;
    }
    h5{
      color: #BD9B5D;
      font-size: 3rem;
    }
    p{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      line-height: 2rem;
    }
    .close {
      color: white;
    }
  }
}