.header {
  max-width: 1240px;
  margin: 0 auto;
  // padding: 3rem;
  height: 100vh;

  // flex-wrap: wrap;

  .containor {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .logo-containor {
      // width: 80%;
      height: 50%;
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-end;
      // margin-bottom: 5rem;
      padding: 3rem;


      img {
        width: 100%;
      }

      a {
        // display: block;
        margin: 0 auto;
        // margin-right: 3rem;
        // margin-top: 3rem;
        // position: absolute;
        // right: 0%;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        padding: 1rem 3rem;
        width: 200px;
        margin-top: 3rem;
      }
    }

    .pholder {
      padding: 3rem;

      p {
        font-family: 'Montserrat', sans-serif;
        // width: 35vw;
        color: #6E6E6E;
        // margin-top: 3rem;
        margin-bottom: 2rem;
        line-height: 2.5;
        text-align: center;
      }
    }
  }
}

.tagline {
  padding: 3rem;
  width: 100%;
  background-color: #106330;

  .text-box {
    max-width: 1240px;
    margin: 0 auto;

    h1 {
      margin-bottom: 3rem;
    }

    p {
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      color: white;
      line-height: 3rem;
      padding-bottom: 1rem;
    }
  }
}


.kotextcontainor {
  // padding-top: 3rem;
  text-transform: uppercase;
  // background-color: #106330;
  font-size: 16vw;
  height: 54vw;


  .kotext {
    // color: white;
    padding: 3rem 0;
    // mix-blend-mode: screen;
    // color: black;
    // color: transparent;

    
    // background-color: #106330;

    // padding: 3rem 0;
    background-image: url("../../assets/bg_marble.jpg");
    background-size: cover;
    // background-size: auto 100vh;

    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-size: 15vw;
    line-height: 0.69;
    text-align: left;
  }


}

.lower-bg {
  background-color: #106330;

}

.lower-section {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .form-containor {
    // height: 100vh;
    // background-color: #106330;

    margin: 0 auto;
    padding: 3rem;

    form {
      // width: 60%;
      // position: relative;


      .form-control {
        color: white;
        font-size: 10px;
        min-width: 231px;


        &::placeholder {
          color: white;
        }

        margin: 1rem 0;
        background-color: #106330;
        border-color: #BD9B5D;
        border-radius: 0%;
      }


      .registerbtn {
        display: block;
        margin: 1rem auto;

        // margin: 0;
        // position: absolute;
        // top: 75%;
        // left: 50%;
        // -ms-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);

      }


    }

    .checkbox-container {
      display: flex;
      justify-content: space-between;
      min-width: 231px;


      p {
        display: flex;
        // justify-content: center;
        align-items: center;
        color: white;
        font-size: 10px;
        // min-width: 40%;
        // margin: 22px 0 0 20px;
      }
    }

    .p-container {
      display: block;
      color: white;

      p {
        text-align: center;
        font-size: 10px;
        padding: 1rem 0;
      }
    }
  }

  .cert {

    // display: flex;
    // align-items: center;
    width: 100%;
    // height: 100%;
    background-image: url("../../assets/bg_marble.jpg");
    background-size: auto 100vh;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #6E6E6E;

    .cert-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

    .thegreenwalk-wrapper {
      margin-top: 40%;
      width: 100%;


      .logo-thegreenwalk {
        display: block;
        margin: 0 auto;
        width: 70%;
        // margin: 0;
        // position: absolute;
        // top: 30%;
        // left: 50%;
        // transform: translate(-50%, -50%);
      }

      p {
        margin: 20% 0;
        // display: block;
        text-align: center;
      }
    }

    .developer-wrapper {
      text-align: center;
      margin: 10% auto;
      // margin-top: 10rem;
      // margin-bottom: 5rem;
      font-size: 10px;


      img {
        padding: 1rem;
      }

      .logo-manchi {
        margin-top: 1rem;
        margin-left: 1rem;
        width: 70%;
      }

      .logo-hype {
        width: 35%;
      }
    }
  }

}



.modal-dialog {
  max-width: none;
  width: 60%;

  .modal-body {
    border: none;
    background-color: #106330;
    border-radius: 0%;
    color: white;
    padding: 6rem 6rem;

    span {
      position: absolute;
      top: 30px;
    }

    h5 {
      color: #BD9B5D;
      font-size: 3rem;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      line-height: 2rem;
    }

    .close {
      color: white;
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    .containor {
      display: flex;

      .logo-containor {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: flex-end;

        .logo-thegreenwalk {
          margin-bottom: 3rem;
        }

        a {
          margin: 0;
        }
      }

      .pholder {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;

        p {
          text-align: left;
        }
      }
    }





  }
  .lower-section {
    .p-container {
      padding: 1rem 10rem;
    }
  }
  //header

}


@media screen and (min-width: 1000px) {
  .lower-section {
    flex-wrap: nowrap;

    .p-container {
      padding: 1rem 3rem;
    }

    .cert {
      width: 70%;
    }
  }
}