body {
  background-image: url("../../assets/bg_marble.jpg");
  background-size: auto 100vh;
  background-attachment: fixed;
  background-color: white;
  color: #2d2d2d;
  // max-width: 1024px;
  // min-width: 200px;
  margin: 0 auto;
}
