body {
  background-image: url("../../assets/bg_marble.jpg");
  background-size: auto 100vh;
  background-attachment: fixed;
  background-color: white;
  color: #2d2d2d;
  // max-width: 1024px;
  // min-width: 200px;
  margin: 0 auto;
}

.registerbtn{
  background-color: #BD9B5D;
  border: none;
  color: white;
  padding: 7px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:focus {
  outline: none;
 }

